@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0:#83E1AD;
    --cor1:#3DDB84;
    --cor2:#2FA866;
    --cor3:#355C47;
    --cor4:#1A5C37;
    --cor5:#063d1E;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', serif;
    --fonte-androide: 'android', serif;
}

*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: #d3cfcf;
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));    
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header>h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;    
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
}

header>p{
    color: white;
    font: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.274);
}

nav>a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
    transition-duration: 0.5s;
}

nav>:hover{
    background-color: var(--cor4);
}

main{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main h1{
    color:var(--cor5);
    font-family: var(--fonte-androide);
}

main h2{
    font-family: var(--fonte-androide);
    font-weight: normal;
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor1),transparent);
    text-indent: 10px;
}

main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 8px;
    line-height: 1.3em;
    font-size: 1.05em;
}

main strong{
    color: var(--cor3);
    font-weight: bold;
}

main a{
    text-decoration: none;
    background-color:#83e1ad7c;
    color:var(--cor4);
    font-weight: bold;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor5);
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 20px -20px;
    padding: 20px;
    padding-bottom:57%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left:5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.295);
}

aside>h3{
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 5px 5px 0px 0px;
}

aside>ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}

aside abbr{
    text-decoration: none;
}

footer{
    background-color: var(--cor5);
    font-size: 0.8em;
    color: white;
    text-align: center;
    padding: 5px;
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor0);
}